doctype html
html
  head
    title= pageTitle
    link(rel='stylesheet', href='/css/style.css')
  body
    h1= pageTitle
    p The page you are looking for does not exist.
    a(href="/") Go back to home