doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= pageTitle ? `${pageTitle} | RARELIQUID` : "RARELIQUID"
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Pretendard:wght@400;500;600;700&display=swap")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    link(rel="stylesheet", href="/css/styles.css")
    block styles
  body
    header.header
      .container.header-container
        .left-menu
          a.logo(href="/") 
            span.logo-rare RARE
            span.logo-liquid LIQUID
        .user-nav
          if loggedIn
            a.user-icon(href="/auth/profile")
              img.avatar(src="/images/icon_profile.png", alt="프로필")
            a.user-icon.logout-icon(href="/auth/logout")
              i.fas.fa-sign-out-alt
          else
            a.login-btn(href="/auth/google") 로그인
    
    main.main
      block content
    
    footer.footer
      .container
        p &copy; 2025 RARELIQUID. All rights reserved.
    
    script(src="/js/main.js") 
    block scripts