doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= pageTitle ? `${pageTitle} | RARELIQUID` : "RARELIQUID"
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Pretendard:wght@400;500;600;700&display=swap")
    link(rel="stylesheet", href="/css/styles.css")
    block styles
  body
    header.header
      .container.header-container
        .left-menu
          a.logo(href="/") RARELIQUID
          nav.main-nav
            // 여기에 메뉴 아이템들 추가
        .user-nav
          if loggedIn
            a.user-icon(href="/auth/profile")
              img.avatar(src="/images/icon_profile.png", alt="프로필")
          else
            a.login-btn(href="/auth/google") 로그인
          a.icon-shop(href="/")
            img(src="/images/icon_shop.png", alt="장바구니")
          a.icon-search(href="/")
            img(src="/images/icon_search.png", alt="검색")
          a.icon-menu(href="/")
            img(src="/images/icon_menu.svg", alt="메뉴")
    
    main.main
      block content
    
    footer.footer
      .container
        p &copy; 2025 RARELIQUID. All rights reserved.
    
    script(src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous")
    script(src="/js/main.js") 
    block scripts