extends base
include mixins/product

block content
  .hero-section
    .search-container
      input#search-input(type="text", placeholder="상품 검색...")
      button#search-button
        img(src="/images/icon_search.png", alt="검색 아이콘")
  
  .content-section
    .container.container-margin
      .products-section
        h2.section-title 최신 상품
        .products-grid#products-grid
          if products && products.length > 0
            each product in products
              +productCard(product)
          else
            p.no-products 등록된 상품이 없습니다.

block scripts
  script(src="/js/search.js")