extends base
include mixins/product

block content
  .home-banner
    h1.banner-title 최고의 한정판 상품을 만나보세요
    p.banner-text 블록체인으로 검증된 진품만을 제공합니다
  
  .search-container
    input#search-input(type="text", placeholder="상품 검색...")
    button#search-button 검색
  
  .products-container
    h2.section-title 최신 상품
    .products-grid#products-grid
      if products && products.length > 0
        each product in products
          +productCard(product)
      else
        p.no-products 등록된 상품이 없습니다.

block scripts
  script(src="/js/search.js")