extends base
include mixins/product

block content
  header.site-header
    .container
      .logo-container(style="position: relative;margin-top: 45px;")
        img.header-bg(src="/images/header.png" alt="background" style="width: 100%; margin-bottom: -80px;")
        a.site-logo(href="/" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);")
        
  .profile-section.container-margin
    .container
      .profile-header
        .profile-info
          h1.profile-name= user.name
          p.profile-email= user.email
          if user.walletAddress
            p.wallet-address
              span 지갑 주소: 
              code= user.walletAddress
      
      .profile-content.my-list
        h2.section-title 마이 리스트
        
        if userProducts && userProducts.length > 0
          .products-grid
            each product in userProducts
              +productCard(product)
        else
          p.no-products 등록한 상품이 없습니다.
        
        .profile-actions
          a.btn-primary(href="/product/upload") 상품 등록하기